@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: Outfit, "sans-serif";
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  line-height: 1.2;
}
main {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 300px;
}
img {
  width: 100%;
  border-radius: 10px;
}
h2,
img {
  margin-bottom: 1rem;
}
h2 {
  color: hsl(218, 44%, 22%);
}
p {
  color: hsl(220, 15%, 55%);
}
